/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

$topbarheight: 18px;

html,
button,
input,
select,
textarea {
  color: #222;
}

html {
  font-size: 1em;
  line-height: 1.4;
  height: 100%;
  color: #fff;
}

a, a:active, a:focus {
  outline: none;
}

p.margin-text {
  margin: 20px 0;
}

p.smaller {
  font-size: 0.9em;
}

body {
  background-color: #EDF2F6;
  position: relative;
  height: 100%;
  width: 100%;
  min-width: 976px;
  font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
}

.gray {
  color: #808080;
}
$gray2: #5c5c5c;
.gray2 {
  color: #5c5c5c;
}
$dark-gray: #5c5c5c;
.gray3 {
  color: #c1c1c1;
}

h1 {
  line-height: 1;
  margin: .83em 0;
  font-size: 2.1em;
  font-weight: normal;
}
h2 {
  font-size: 1.3em;
  margin: 0.83em 0;
  font-weight: normal;
}
h3 {
  font-size: 1.3em;
  margin: 0.83em 0;
  font-weight: normal;
}
h4, label {
  font-size: 1em;
  margin: 1.33em 0;
}
label {
  font-weight: bold;
}
h5 {
  font-size: 1.1em;
  font-weight: bold;
  color: #fff;
  margin: 1.5em 0;
}

.pull-right {
  float: right;
  margin: 0 25px 0 40px;
}
.pull-left {
  float: left;
}
.align-left {
  text-align: left;
}

#mainContainer {
  background-color: #fff;
  min-height: 100%;
  width: 100%;
}

.content-width {
  width: 976px;
  margin: auto;
}
.inline-block {
  display: inline-block !important;
}

#topBar {
  background-color: #0f3039;
  height: $topbarheight;
  width: 100%;
}

.logoContainer {

  img {
    margin: 10px 0;
    width: 185px;
  }
}

.panels {
  width: 100%;
}

.navMenu {
  list-style: none;
  float: right;
  margin-top: 30px;
  margin-right: 20px;

  a {
    text-decoration: none;
    color: #1f303a;
    font-size: 0.8em;
    font-weight: bold;
    outline: 0;
    -webkit-transition: color 250ms ease;
    -moz-transition: color 250ms ease;
    -ms-transition: color 250ms ease;
    -o-transition: color 250ms ease;
    transition: color 250ms ease;
  }
  a:hover {
    color: #0097B0;
  }
  a:active {
    color: #101721;
  }
  a.active {
    color: #697D83;
  }

  li {
    display: inline-block;
    list-style: none;
    /* display: inline-block; */
    margin: 0 0 0 15px;
  }
}

.borderBar-leftBar {
  height: 6px;
  border-top: 1px solid #0096ac;
  background-color: #007d93;
  position: absolute;
  top: 0;
  z-index: 30;
  width: 100%;
}

.leftBar {
  background-color: #0097b0;
  width: 50%;
  height: 100%;
}


.content-container {
  padding: 30px;
}

.panel-content.padding-right {
  padding: 0 36px 0 0;
}

.find-out-more-button {
  background-image: url("../img/find_out_button.png");
  height: 85px;
  width: 183px;
  display: block;
  margin-top: 30px;
  cursor: pointer;
}

.find-out-more-button:active {
  background-position: 0 85px !important;
}

.borderBar {
  height: 6px;
  border-top: 1px solid #33464d;
  background-color: #0f242c;
}

.slogan {
  font-family: 'PT Sans', sans-serif;
}

.panel-0 {
  height: 500px;
  position: relative;
  overflow: hidden;
}

.panel-1, .panel-10, .panel-11 {
  background: #007b90;
  height: 381px;
  background-image: url("../img/wood-bg.jpg");

  .content-container {
    padding: 0;
    padding-top: 40px;
  }

  h1 {
    margin: 1em 0 18px;
  }
  h4 {
    margin: 0;
  }
}

.panel-10 {
  height: 250px;

  .content-container {
    padding-top: 20px;
  }
}

.panel-11 {
  background: #0097B0;
  background-image: none;
}

.panel-1-top-bar, .panel-11-top-bar {
  background-color: #006B7E;
  height: 10px;
  width: 100%;
}

.panel-1-left-content {
  display: inline-block;
  width: 49%;
}

.panel-1-right-image {
  width: 49%;
  float: right;
  margin-top: 36px;
}
.panel-11-content {
}
.panel-11-image {
  float: left;
  margin-right: 20px;
}

.panel {
  padding: 50px 0 30px;
  clear: both;

  h1 {
    padding: 20px 0;
    margin: 0;
  }
}

.panel-2, .panel-21 {
  //border-top: solid 12px #107892;
  width: 100%;
  background-color: #fff; //#1492af;
  position: relative;
  height: 650px;

  .image-container {
    text-align: center;
  }

  .content-width {
    position: relative;
  }

  a.learn-more {
    position: absolute;
    bottom: 0;
    left: 30px;
    right: 30px;
  }
  .panel-third-padding {
    height: 100%;
    position: relative;
    border-radius: 15px;
    height: 460px;
  }
  .panel-third-padding:hover {
     background: #efefef;
  }
}

.panel-20 {
  width: 100%;
  background-color: #fff; //#1492af;
  position: relative;
  padding-bottom: 200px;

  .image-container {
    text-align: center;
  }
  .panel-third h4 {
    margin: 10px 0;
  }
  h3 {
    text-align: center;
    font-weight: bold;
  }
  h3 a, p a {
    color: #1AB2CC !important;
  }
  h3.margins {
    margin: 40px 0;
  }
  hr {
    margin-bottom: 20px;
  }
  .panel-third-padding {
    min-height: 556px;
  }
}

.panel-21 {
  background-color: #f5f5f5;
  height: auto;

  img {
    width: 269px;
    margin-right: 20px;
    margin-top: -30px;
  }

  .text-right {
    max-width: 500px;
    float: left;
  }
}


.mail-links, .mail-links h3, .mail-links p {
  text-align: left;
  img {
    float: left;
    margin-right: 15px;
  }
}

.round-form {
  background-color: #E4EAEB;
  padding: 20px;
  border-radius: 15px;
}

.panel-2-top-bar, .panel-20-top-bar, .panel-21-top-bar {
  background: #0097b0;
  height: 20px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.panel-21-top-bar {
  background: #006B7E;
}

.panel-3, .panel-31 {
  border-top: solid 12px #f5f5f5;
  width: 100%;
  height: 700px;
  background-color: #f5f5f5;
}

.panel-31 {
  background-color: #fff; //#1492af;
  height: auto;
}
.panel-41, .panel-31 {
  img {
    margin-top: 30px;
  }
  .panel-third {
    color: $dark-gray;
  }

  .image-container {
    text-align: center;
  }
  .panel-third-padding {
    height: 100%;
    position: relative;
    border-radius: 15px;
    background: #efefef;
    height: 600px;
  }
  .panel-third-padding:hover {
    background: #efefef;
  }
  ul, li {
    font-size: 16px;
    margin: 12px 0;
    padding: 0;
    list-style-type: none;
  }
  ul ul li {
    margin-left: 15px;
  }
  li {
    padding-left: 15px;
    text-indent: -15px;
  }
  li:before {
    content: "■ ";
    color: #0097b0; /* or whatever color you prefer */
  }
  ul ul li:before {
    content: "■ ";
    color: #0f5875; /* or whatever color you prefer */
  }
}

.panel-4 {
  width: 100%;
  min-height: 700px;
  background-color: #fff;

  .panel-contents {
    text-align: center;
  }

  h4 {
    margin: 14px 0 13px;
  }
  p {
    margin-top: 5px;
    text-align: left;
  }
  .content-block {
    margin: 40px 0;
    min-height: 80px;

    img {
      width: 66px;
    }
  }
}

.panel-41 {
  width: 100%;
  background-color: #fff;
  text-align: center;
  padding-top: 22px;
  margin-bottom: 50px;

  .panel-third {
    width: 35%;
    margin: 0 1%;
  }
  .panel-third-padding {
    height: 550px;
    text-align: left;
  }
}

.panel-5 {
  width: 100%;
  text-align: center;
  background-color: #0097b0;
}
a#contact-us-button:active {
  background-color: #0f3039;
}

.panel-6 {
  width: 100%;
  background-color: #434444;
  color: #c1c1c1;
  font-size: 0.8em;
}

.panel-half {
  width: 49%;
  vertical-align: top;
  display: inline-block;

}

.panel-half-padding {
  padding: 30px;
}

.panel-third {
  width: 33%;
  display: inline-block;
  vertical-align: top;
  color: #808080;
  h4 {
    text-align: center;
    font-weight: bold;
    color: #5c5c5c;
  }
}
.panel-third-padding {
  padding: 30px;
}

.normal-link {
  text-decoration: none;
}

.bold {
  font-weight: bold;
}
.center {
  text-align: center;
}

a.no-decoration {
  text-decoration: none;
  color: inherit;
}

a.button, input.button {
  display: block;
  background: #d1d1d1;
  line-height: 40px;
  border-radius: 4px;
  text-align: center;
  font-weight: bold;
  font-size: 1em;
  margin: 30px 0;
  cursor: pointer !important;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-decoration: none;
  color: #808080;
}
a.button:active {
  background: #1595b1;
  color: white;
}

.panel-third-padding:hover hr.fading {
  opacity: 1;
}
hr {
  position: relative;
  padding: 0;
  margin: 8px auto;
  height: 0;
  width: 100%;
  max-height: 0;
  font-size: 1px;
  line-height: 0;
  clear: both;
  border: none;
  border-top: 1px solid #aaaaaa;
  border-bottom: 1px solid #ffffff;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}

hr.fading {
  opacity: 0;
}

.panel-button {
  background: url("../img/button_bg.png");
  background-repeat: repeat-x;
  height: 64px;
  width: 32%;
  display: inline-block;
  background-position: 0 -64px;
  border-left: 1px solid #dadada;
  border-right: 1px solid #fff;
}

.panel-button:active, .panel-button.active {
  background-position: 0 0 !important;
}

.panel-button.left-button {
  border-bottom-left-radius: 26px;
  border-left: none !important;
}

.panel-button.right-button {
  border-bottom-right-radius: 26px;
  border-right: none !important;
}

.panel-button-img {
  margin: auto;
  margin-top: 16px;
}

#design-button {
  background: url("../img/design_button.png");
  height: 32px;
  width: 108px;
  background-position: 0 -32px;
}

.panel-button:active #design-button, .panel-button.active #design-button {
  background-position: 0 0 !important;
}

#development-button {
  background: url("../img/development_button.png");
  width: 179px;
  height: 30px;
  background-position: 0 0;
}

.panel-button:active #development-button, .panel-button.active #development-button {
  background-position: 0 -30px !important;
}

#deployment-button {
  background: url("../img/deployment_button.png");
  width: 158px;
  height: 33px;
  background-position: 0 0;
}

.panel-button:active #deployment-button, .panel-button.active #deployment-button {
  background-position: 0 -33px !important;
}

.rounded-corner-left {
  position: absolute;
  left: -16px;
  top: 0px;
  width: 16px;
  height: 56px;
  background: url("../img/rounded_corner.png");
}

.rounded-corner-right {
  display: inline-block;
  vertical-align: top;
  top: 0px;
  width: 16px;
  height: 56px;
  background: url("../img/rounded_corner_right.png");
}

a.learn-more-button {
  //width: 128px;
}
a#contact-us-button {
  width: 128px;
  margin-left: 10px;
}

.panel-content {
  display: none;
}
.panel-content.active {
  display: block !important;
}

.address-item {
  margin: 10px 0;
}
.address-icon {
  display: inline-block;
  vertical-align: top;
}
.address-text {
  width: 80%;
  display: inline-block;
  margin-left: 15px;
}

.block-25 {
  display: inline-block;
  width: 24%;
  vertical-align: top;
}

.footer {
  width: 100%;
  height: 85px;
  line-height: 85px;
  background-color: #2a2a2a;
  color: #878787 !important;
  font-size: 0.8em;
}

.footer-links-container {
  float: right;
}
a.footer-links {
  margin: 0 20px;
  color: #878787 !important;
  text-decoration: none;
}

.centered {
  text-align: center;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

audio,
canvas,
img,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Form submit button */
/*Clearing Floats*/
.cf:before, .cf:after{
  content:"";
  display:table;
}

.cf:after{
  clear:both;
}

.cf{
  zoom:1;
}
/* Form wrapper styling */
.form-wrapper {
  width: 292px;
  margin: 40px auto 50px auto;
  background: #444;
  background: rgba(0,0,0,.2);
  border-radius: 10px;
  box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
}


#mail-form input[type=text],#mail-form input[type=email], #mail-form textarea {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  box-sizing: border-box;
  margin-bottom: 15px;
}
#mail-form textarea {
  height: auto;
}
.error-text {
  color: #D40000;
}

/* Form text input */

.form-wrapper input {
  width: 167px;
  height: 20px;
  padding: 10px 5px 10px 10px;
  float: left;
  font: bold 1em 'Helvetica';
  border: 0;
  background: #eee;
  border-radius: 3px 0 0 3px;
}

.form-wrapper input:focus {
  outline: 0;
}

.form-wrapper input::-webkit-input-placeholder {
  color: #999;
  font-weight: normal;
}

.form-wrapper input:-moz-placeholder {
  color: #999;
  font-weight: normal;
  font-style: italic;
}

.form-wrapper input:-ms-input-placeholder {
  color: #999;
  font-weight: normal;
  font-style: italic;
}

/* Form submit button */
.form-wrapper button {
  overflow: visible;
  position: relative;
  float: right;
  border: 0;
  padding: 0;
  cursor: pointer;
  height: 40px;
  width: 110px;
  text-align: center;
  font-weight: bold;
  font-size: 1em;
  border: 5px solid #eee;
  color: #fff;
  text-transform: uppercase;
  background: #1595b1;
  border-radius: 0 3px 3px 0;
  text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
}

.form-wrapper button:hover{
  background: #51d6ec;
}

.form-wrapper button:active,
.form-wrapper button:focus{
  background: #1595b1;
  outline: 0;
}

.form-wrapper button:hover:before{
  border-right-color: #157f9b;
}

.form-wrapper button:focus:before,
.form-wrapper button:active:before{
  border-right-color: #157f9b;
}

.form-wrapper button::-moz-focus-inner { /* remove extra button spacing for Mozilla Firefox */
  border: 0;
  padding: 0;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Media Queries
   ========================================================================== */
@media only screen and (max-width:975px) {
  .logoContainer img {
    margin: 10px 0 10px 30px;
  }
}

@media only screen and (min-width: 35em) {

}

@media print,
(-o-min-device-pixel-ratio: 5/4),
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}