<ul>
  <li>Node.JS, Express</li>
  <li>Python</li>
  <li>Ruby on Rails</li>
  <li>Java (Google Web Toolkit, Vaadin, Tomcat)</li>
  <li>
    Search Engines
    <ul>
      <li>Lucene, ElasticSearch, Amazon CloudSearch</li>
    </ul>
  </li>
  <li>
    Databases
    <ul>
      <li>SQL (MySQL, PostgreSQL), NoSQL (MongoDB, CouchDB)</li>
    </ul>
  </li>
</ul>
