%ul
	%li Node.JS, Express
	%li Python
	%li Ruby on Rails
	%li Java (Google Web Toolkit, Vaadin, Tomcat)
	%li
		Search Engines
		%ul
			%li Lucene, ElasticSearch, Amazon CloudSearch
	%li
		Databases
		%ul
			%li SQL (MySQL, PostgreSQL), NoSQL (MongoDB, CouchDB)