<h1 class="centered">Who we are</h1>
<p>We are a small creative group of individuals working hard to bring our talents to mobile and web projects. Our specialties include Android, iOS, and responsive HTML5 web applications. We take projects from the start to the finish, and can help design, develop, and deploy your projects.</p>
<p>We are a small creative group of individuals working hard to bring our talents to mobile and web projects. Our specialties include Android, iOS, and responsive HTML5 web applications. We take projects from the start to the finish, and can help design, develop, and deploy your projects.</p>
<p>We are a small creative group of individuals working hard to bring our talents to mobile and web projects. Our specialties include Android, iOS, and responsive HTML5 web applications. </p>